<!DOCTYPE html>
<html>
<head>
  <title>MediaMagick</title>
  <%= stylesheet_link_tag    "media_magick/application", :media => "all" %>
  <%= javascript_include_tag "media_magick/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
