<li class="attachment" data-id="<%= attachment.to_param %>">
  <%= link_to attachment.filename, attachment.url, download: attachment.filename  unless attachment.file.nil? %>
  <%= link_to t('media_magick.remove'), "javascript://", method: "delete", class: "remove btn btn-mini btn-danger", data: { confirm: t('media_magick.confirm_removal') } %>

  <%= hidden_field_tag "#{model.parameterize}[#{relation.singularize}_ids][]", attachment.id if model && relation %>
</li>