<li class="attachment" data-id="<%= attachment.to_param %>">
  <a href="javascript://" class="remove btn btn-danger">remove</a>
  <%= attachment.photo.url %>
  <%#= image_tag(attachment.inspect.url) %>
</li>