<div class="newAttachments ">
  <ul class="attachmentQueue">
  </ul>

  <div class="dropAttachments">
  </div>
  <%= link_to "javascript://", class: "pickAttachments btn" do %>
    <%= t('media_magick.select') %>
  <% end %>
  <%= link_to "javascript://", class: "uploadAttachments btn" do %>
    <%= t('media_magick.upload') %>
  <% end %>
</div>